<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.vocust.qywx.demo.dao.mapper.QychatMapper">
	<resultMap id="QychatInfoMap" type="com.vocust.qywx.demo.dao.entity.User">
		<result column="seq" property="seq" />
		<result column="msgid" property="msgid" />
		<result column="publickey_ver" property="publickey_ver" />
		<result column="encrypt_random_key" property="encrypt_random_key" />
		<result column="encrypt_chat_msg" property="encrypt_chat_msg" />
	</resultMap>

	<select id="queryAllInfos" resultMap="QychatInfoMap">
		SELECT * FROM tbl_qychat
	</select>

	<insert id="insertQychat">
		INSERT INTO
		tbl_qychat(seq,msgid,publickey_ver,encrypt_random_key,encrypt_chat_msg)
		VALUES (#{seq},#{msgid},#{publickey_ver},#{encrypt_random_key},#{encrypt_chat_msg})
	</insert>
	
	<select id="getSeq" resultType="java.lang.Integer">
		SELECT seq FROM tbl_qychat ORDER BY id DESC limit 1;
	</select>
	
	<!-- 清空表数据-->
	<delete id="clearDatas">
	    truncate TABLE tbl_qychat;
	</delete>
</mapper>